.updateProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    justify-content: center;
    input{
        width: 20%;
        padding: .5rem 1rem;
        margin-bottom: 1rem;
    }
    button{
        width: 20%;
        border: 1px solid grey;
        background-color: transparent;
        padding: .5rem;
        border-radius: 10px;
        cursor: pointer;
    }
}